html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Montserrat', sans-serif;
}


body{
	background-color: #f3f3f3;
}

header{
	width: 100%;
	height: 100px;
	background-color: #191919;
	margin-bottom: 15px;
}

a{
	text-decoration: none;
}

i{
	color: white;
}

.flecha i{
	color: #191919;
	font-size: 23px;
}

.flecha span{
	font-size: 13px;
}

.containerHeader{
	width: 1350px;
	margin: 0 auto;

}

.clearfix:after {
    display:block;
    clear:both;
}

.home {
	margin-top: 33px;
	float: left;
	width: 0px;
}

.menu{
	margin-left: 58px;
	margin-top: 30px;
	padding-top: 0px;
	float: left;
	width: 1290px;

}

/*----- Menu Outline -----*/


.menu li {
    margin:0px;
    list-style:none;
}

.menu a {
   /* transition:all linear 0.15s;*/
   color: white;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:16px;
}

.menu > ul > li > a {
    padding:10px 21px;
    display:inline-block;

}

/*.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}*/

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#191919;
}

.sub-menu li {
    display:block;
    font-size:13px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#66b0cd;
    color: white;
}


/*Fin Estilos Generales*/
/*Inicio Estilos  de la estructura del formulario general*/
.tblOrg{
/*background:lightgray;*/
/*width: 800px;
height: 800px;
max-width: 100%;
margin: 0 auto;
padding: 20px;
border-radius: 5px;
padding-top: 50px;*/
width: 1300px;
	margin: 0 auto;
	padding: 15px 30px 20px 30px;
	background-color: ;
	margin-top: 60px;
	padding-left: 170px;
	border-radius: 5px;
}
/*#tblOrg{
  width: 755px;
}*/


#tblOrg th{
	background-color: lightgray;
	padding: 8px;
	font-size: 16px;
}

#tblOrg th:nth-child(8){
	background-color: lightgray;
	padding: 8px;
	width: 80px;

}

#tblOrg th:nth-child(9){
	background-color: lightgray;
	padding: 8px;
	width: 80px;


}

#tblOrg th:nth-child(10){
	background-color: lightgray;
	padding: 8px;
	width: 80px;



}

#tblOrg td{
	background-color: white;
	padding: 10px 8px;
}

#tblOrg td:nth-child(8){
	text-align: center;


}


#tblOrg td:nth-child(9){
	text-align: center;


}

#tblOrg  td:nth-child(10){
	text-align: center;


}

/*.container2{

}*/
.tblOrg h1{

font-size: 36px;
	margin-top: 60px;
/*text-align: center;*/
margin-bottom: 20px;
width: 420px;


}


#txtAproximacion{
	width: 406px;
	height: 20px;
	padding: 5px;
	border-radius: 3px;
	outline: none;
	border: none;
	margin-bottom: 45px;
float: left;

}


/*Fin EstilosGenerales  */

/*Inicio Estilos  Labels Nom Org*/



#btnlistar{
  float: left;
width: 200px;
height: 35px;
border-radius: 5px;
/*margin-left: 260px;*/
background-color: #66b0cd;
color: white;
font-size: 14px;
font-weight: bold;
}

#btnlistar:hover{

  background-color:rgba(0, 186, 255, 0.61);
}




.container{
	width: 97%;
	margin: 0 auto;
}

h1{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 60px;
	margin-top: 60px;
	color: #636363;
	text-align: center;
}

input[type=button]{
	width: 300px;
	margin-left: px;
	height: 30px;
	box-shadow:none;
	background-color: #66b0cd;
	color: white;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 3px;
	margin-bottom: 20px;
}

table{
	border-collapse: collapse;
}

#tblOrg {
	width: 100%;
}

#tblOrg th{
	background-color: #191919;
	padding:10px 5px;
	font-size: 16px;
	color: white;
}

#tblOrg th:nth-child(8){
	background-color: #191919;
	width: 80px;
}

#tblOrg th:nth-child(9){
	background-color: #191919;
	width: 80px;
}

#tblOrg th:nth-child(10){
	background-color: #191919;
	width: 80px;
}

#tblOrg td{
	background-color: white;
	padding: 14px;
}

#tblOrg tr:hover{
	background-color: gray;
}

#tblOrg tr:nth-child(even){
	background-color: blue;
}

#tblOrg td:nth-child(8){
	text-align: center;
}


#tblOrg td:nth-child(9){
	text-align: center;
}

#tblOrg td:nth-child(10){
	text-align: center;
}


#tblOrg td>input[type=button]{
	background-color: red;
}
.accordion-group{
    width: 502px;
}
.search i{
	float: left;
	background-color: white;
	color: #06c4de;
height: 20px;
padding: 5px 10px;
}
